:root {
	--transition-property: 0.3s ease-in-out;
}

body {
	margin: 0 0 0 0;
	background: linear-gradient(plum -10%, lightblue 80%, aquamarine 120%);
	background-attachment: fixed;
}

button {
	all: unset;
	opacity: 80%;
	transition: var(--transition-property);
}

button:hover {
	opacity: 100%;
}

#frameAlign {
	text-align: center;
}

#frame {
	margin-top: 5%;
	display: inline-block;
	background:linear-gradient(#fff, #ddd);
	width: 300px;
	height: 450px;
	border-radius: 6% / 4%;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

#bar {
	margin: 0;
	height: 30px;
	background-color: #111;
	position:relative;
	top:0px;
}

#icons ul, #icons li {
	all: unset;
	display: inline-block;
}

#icons {
	margin-top: 2px;
	margin-left: 3%;
	float: left;
	text-align: left;
	color: white;
}

#currentTime {
	margin-top: 8px;
	margin-right: 5%;
	float: right;
	text-align: right;
	color: white;
}

#content {
	margin: 0;
	height: auto;
}

#header {
	background-color: teal;
	height: 100px;
}
